@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --background: #111b2c;

  --primary-text: #ffffff;
  --red: #ee4d50;
  --button-hover: #6c2324;
}

body {
  color: var(--primary-text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.listGames {
  position: relative;
}

.listGames .swiper-slide {
  width: 230px !important;
}

.listGames .swiper-button-next,
.listGames .swiper-button-prev {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  width: 4.51%;
  height: 314px;
  top: 0;
  z-index: 100;
  cursor: pointer;
  transition: width 0.3s ease;
}

.listGames .swiper-button-prev.swiper-button-disabled,
.listGames .swiper-button-next.swiper-button-disabled {
  width: 0;
}

.listGames .swiper-button-next {
  right: 0;
  border-radius: 10px 0 0 10px;

}

.listGames .swiper-button-prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.listGames .swiper-button-next::after {
  content: "";
  background-image: url("../assets/svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 40px;
  height: 60px;
}

.listGames .swiper-button-prev::after {
  content: "";
  background-image: url("../assets/svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 40px;
  height: 60px;
  transform: scaleX(-1);
}